In [2]:
import pandas as pd
import numpy as np

In [3]:
CCTV_Seoul= pd.read_csv("C:/Users/whfh1/DS_STUDY/data/01. Seoul_CCTV.csv", encoding = "utf-8")
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [4]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0] : "구별"}, inplace = True)
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  3238       1292    430    584    932
1  강동구  1010        379     99    155    377
2  강북구   831        369    120    138    204
3  강서구   911        388    258    184     81
4  관악구  2109        846    260    390    613

In [5]:
pop_Seoul= pd.read_excel("C:/Users/whfh1/DS_STUDY/data/01. Seoul_Population.xls", header = 2, usecols = "B,D,G,J,N")
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10124579  9857426  267153   1365126
1  종로구    164257   154770    9487     26182
2   중구    134593   125709    8884     21384
3  용산구    244444   229161   15283     36882
4  성동구    312711   304808    7903     41273

In [6]:
pop_Seoul.rename(columns = {pop_Seoul.columns[0] : "구별",
pop_Seoul.columns[1] : "인구수",
pop_Seoul.columns[2] : "한국인", 
pop_Seoul.columns[3] : "외국인", 
pop_Seoul.columns[4] : "고령자"}, inplace = True,)
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10124579  9857426  267153  1365126
1  종로구    164257   154770    9487    26182
2   중구    134593   125709    8884    21384
3  용산구    244444   229161   15283    36882
4  성동구    312711   304808    7903    41273

In [7]:
CCTV_Seoul.columns

Index(['구별', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [8]:
CCTV_Seoul.columns[0]

'구별'

# Pandas 기초
- Python에서 R 만큼의 강력한 핸들링 성능을 제공하는 모듈
- 단일 프로세스에서는 최대 효율
- 코딩 가능하고 응용 가능한 엑셀로 받아들여도 됨
- 누군가 스테로이드를 맞은 엑셀로 표현함

# Series 
- index와 value로 이루어져 있다.
- 한 가지 데이터 타입만 가질 수 있다.

In [11]:
import pandas as pd
import numpy as np

- pandas는 통상 pd
- numpy는 통상 np

In [12]:
pd.Series()

C:\Users\whfh1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [13]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
pd.Series([1,2,3,4], dtype = float64)

NameError: name 'float64' is not defined

In [15]:
pd.Series([1,2,3,4], dtype = np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [16]:
pd.Series([1,2,3,4], dtype = str)

0    1
1    2
2    3
3    4
dtype: object

In [17]:
pd.Series(np.array([1,2,3]))

0    1
1    2
2    3
dtype: int32

In [19]:
pd.Series({"key": "Value"})

key    Value
dtype: object

In [22]:
data = pd.Series([1,2,3,4,"5"])
data

0    1
1    2
2    3
3    4
4    5
dtype: object

In [23]:
data % 2

TypeError: not all arguments converted during string formatting

In [24]:
data = pd.Series([1,2,3,4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [25]:
data % 2

0    1
1    0
2    1
3    0
dtype: int64

### 날짜 데이터

In [31]:
dates = pd.date_range("20210101", periods = 6)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

# DataFrame
- pd.Series()
    - index, value
- pd.DataFrame()
    - index, value, column

In [30]:
data = np.random.randn(6,4)
data

array([[-0.69995399,  0.06528481, -0.53117643,  0.12483352],
       [-1.21981099,  0.84309181, -0.04484763,  1.40856111],
       [-0.28956517, -1.29521661, -1.01342072,  1.15363148],
       [-0.50458704, -2.66297497, -0.58109928, -0.89325448],
       [ 0.35384019, -1.2973406 , -0.66517132,  0.24885373],
       [ 0.94509449,  1.90942769,  0.74604316,  0.94832668]])

In [33]:
df = pd.DataFrame(data, index = dates, columns = ["A","B","C","D"])
df

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [34]:
df.head()

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854

In [35]:
df.tail()

                   A         B         C         D
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [36]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [37]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [38]:
df.values

array([[-0.69995399,  0.06528481, -0.53117643,  0.12483352],
       [-1.21981099,  0.84309181, -0.04484763,  1.40856111],
       [-0.28956517, -1.29521661, -1.01342072,  1.15363148],
       [-0.50458704, -2.66297497, -0.58109928, -0.89325448],
       [ 0.35384019, -1.2973406 , -0.66517132,  0.24885373],
       [ 0.94509449,  1.90942769,  0.74604316,  0.94832668]])

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-01-01 to 2021-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

#### df.describe() : 데이터 프레임의 기술통계 정보 봑인

In [40]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.235830 -0.406288 -0.348279  0.498492
std    0.774731  1.662689  0.619694  0.848373
min   -1.219811 -2.662975 -1.013421 -0.893254
25%   -0.651112 -1.296810 -0.644153  0.155839
50%   -0.397076 -0.614966 -0.556138  0.598590
75%    0.192989  0.648640 -0.166430  1.102305
max    0.945094  1.909428  0.746043  1.408561

### 데이터 정렬
- sort_values()
- 특정 컬럼(열)을 기준으로 데이터를 정렬한다.

In [42]:
df

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [44]:
df.sort_values(by = 'B')

                   A         B         C         D
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [45]:
df.sort_values(by="B", ascending = False, inplace = True)

In [46]:
df

                   A         B         C         D
2021-01-06  0.945094  1.909428  0.746043  0.948327
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254

In [47]:
df["A"]

2021-01-06    0.945094
2021-01-02   -1.219811
2021-01-01   -0.699954
2021-01-03   -0.289565
2021-01-05    0.353840
2021-01-04   -0.504587
Name: A, dtype: float64

In [48]:
type(df["A"])

pandas.core.series.Series

In [49]:
df.A

2021-01-06    0.945094
2021-01-02   -1.219811
2021-01-01   -0.699954
2021-01-03   -0.289565
2021-01-05    0.353840
2021-01-04   -0.504587
Name: A, dtype: float64

In [50]:
df = pd.DataFrame(data, index = dates, columns = ["A","B","C",4])
df

                   A         B         C         4
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [51]:
df.4

SyntaxError: invalid syntax (<ipython-input-51-e825ae6b5586>, line 1)

In [52]:
df = pd.DataFrame(data, index = dates, columns = ["A","B","C","4"])
df

                   A         B         C         4
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [53]:
df.4

SyntaxError: invalid syntax (<ipython-input-53-e825ae6b5586>, line 1)

In [54]:
df = pd.DataFrame(data, index = dates, columns = ["A","B","C","D"])
df

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [55]:
df["A","B"]

KeyError: ('A', 'B')

In [57]:
df[["A","B"]]

                   A         B
2021-01-01 -0.699954  0.065285
2021-01-02 -1.219811  0.843092
2021-01-03 -0.289565 -1.295217
2021-01-04 -0.504587 -2.662975
2021-01-05  0.353840 -1.297341
2021-01-06  0.945094  1.909428

## Offset index
- [n:m] : n부터 m-1까지
- 인덱스나 컬럼의 이름으로 slice하는 경우는 끝을 포함한다.

In [59]:
df

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [60]:
df[0:3]

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631

In [61]:
df["20210101":"20210104"]

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254

- loc : location
- index 이름으로 특정 행, 열을 선택합니다

In [64]:
df

                   A         B         C         D
2021-01-01 -0.699954  0.065285 -0.531176  0.124834
2021-01-02 -1.219811  0.843092 -0.044848  1.408561
2021-01-03 -0.289565 -1.295217 -1.013421  1.153631
2021-01-04 -0.504587 -2.662975 -0.581099 -0.893254
2021-01-05  0.353840 -1.297341 -0.665171  0.248854
2021-01-06  0.945094  1.909428  0.746043  0.948327

In [65]:
df.loc[:, ["A","B"]]

                   A         B
2021-01-01 -0.699954  0.065285
2021-01-02 -1.219811  0.843092
2021-01-03 -0.289565 -1.295217
2021-01-04 -0.504587 -2.662975
2021-01-05  0.353840 -1.297341
2021-01-06  0.945094  1.909428